
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Ubuntu&display=swap');

body{
    background-color: #1F2937;
    color: #D5D4D8;
    font-family: 'Climate Crisis', cursive;
}
.container{
    padding: 2.5%;
}

.randompass{
    color: #4ADF86;
}
.heading{
    color: white;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
}
.cta{
    font-family: 'Ubuntu', sans-serif;
    color: #D5D4D8;
    font-size: 2rem;
}
.form{
    width: 30%;
    display: flex;
    justify-content: space-between;

}
.btn{
    color:white;
    background-color: #4ADF86;
    border: none;
    padding: 15px;
    font-size: 1.5rem;
    margin: 2em 2em 2em 0;
    border-radius: 0.2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.inp{
    display:block;
    border: solid 2px black;
    font-size: 1rem;
    border: 1px solid #D5D4D8; 
    border-radius: 4px 0 0 4px;
    outline:0;
    color: #1F2937;
    background-color: #D5D4D8;
}
.output {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    width: 400px;
    height: 50px;
    overflow: auto;
  } 